@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #008ac7;

  --color-background:  #f2f2f2;
  --color-card-background: #FFF;

  --color-text-primary: #1a1a1a;
  --color-text-secondary: #5f5f5f;
  


  /* Dark mode variables */
  --color-dark-background: #1e1b1d;
  --color-dark-card-background: #2a2629;
  

  --color-dark-text-primary: #f5f5f5;
  --color-dark-text-secondary: #FFFF
;
  
}


:root {

  --background: var(--color-background);
  --card-background: var(--color-card-background);
  --Table-background: var(--color-table-background);


  --text-primary: var(--color-text-primary);
  --text-secondary: var(--color-text-secondary);
  
}

/* Dark mode override */
.dark {
  --background: var(--color-dark-background);
  --card-background: var(--color-dark-card-background);
  --table-background: var(--color-dark-card-background);


  --text-primary: var(--color-dark-text-primary);
  --text-secondary: var(--color-dark-text-secondary);


 
}


@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .bg-card-background {
    background-color: var(--card-background);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .customtable {
  background-color: var(--background);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.customtable thead {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--text-primary);
}

.customtable th,
.customtable td {
  padding: 14px 20px;
  text-align: left;
   border-bottom: 1px solid #FFF /* soft look */
}


.customtable tbody tr:hover {
  background-color: var(--card-background);
  transition: background-color 0.2s ease;
}



}


/* styles/globals.css */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 100%
  );
  animation: shimmer 1.5s infinite;
}
